@page "/dashboard/products"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@layout PanelLayout
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager navigationManager

@if (products == null)
{
    <p><em>Carregando...</em></p>
}
else if (products.Count == 0)
{
    <p><em>Nenhum produto cadastrado!</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Código de barras</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Code</td>
                    <td>@product.Barcode</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <div>
                            <button @onclick="@(e => EditProduct(@product.Code))">✏️</button>
                            <button @onclick="@(e => RemoveProduct(@product.Code))">❌</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <button class="btn btn-primary" @onclick="CreateProduct">Cadastrar produto</button>
</div>

@code {
    private List<ProductModel>? products;
    private void CreateProduct()
    {
        navigationManager.NavigateTo("dashboard/products/create");
    }

    private async Task EditProduct(int code)
    {
        try
        {
            products = await Http.GetFromJsonAsync<List<ProductModel>>("api/products");
            navigationManager.NavigateTo("dashboard/products/create");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    private async Task RemoveProduct(int code)
    {
        try
        {
            await Http.DeleteAsync($"api/products/{code}");
            var produto = products.First(x => x.Code == code);
            products.Remove(produto);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await Http.GetFromJsonAsync<List<ProductModel>>("api/products");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
